In [1]:
import pandas as pd
import json
import requests

In [28]:
prefix_lbp_url = 'https://landbank.com/webapi/network-locator/showinfo?bid='
masterlist_filename = 'landbank.json'
branch_id_max = 7000 #3015 #last entry is 3014
branch_id_min = 6001 #2061 #initial entry is 1

In [3]:
def load_masterlist(master_filename):
  try:
    with open(master_filename, 'r') as master_file:
      masterlist = json.load(master_file)
  except FileNotFoundError:
      masterlist = {}
  return masterlist

In [4]:
def save_masterlist(masterlist, master_filename):
  with open(master_filename, 'w') as master_file:
    result = json.dump(masterlist, master_file)
  return result

In [5]:
def get_branch(branch_id, masterlist):
    try:
        entry = masterlist[branch_id]
    except KeyError:
        entry = {}
        lbp_url = prefix_lbp_url + branch_id
        #print(lbp_url)
        r = requests.get(lbp_url)
        ent = r.json()
        if ent['branchlist'] != []:
            entry = ent['branchlist'][0]
            masterlist[branch_id] = entry
        #df = pd.json_normalize(ent, 'branchlist', record_prefix='branch_')
        #df.set_index('branch_id', inplace=True, drop=False)
    return entry, masterlist

In [6]:
#unused -- kept only for future reference
def read_lbpfile(filename):
    with open(filename) as data_file:    
        data = json.load(data_file)
        df = pd.json_normalize(data, 'branchlist', record_prefix='bank_')
    return df

In [30]:
masterlist = load_masterlist(masterlist_filename)

In [31]:
for bid in range(branch_id_min, branch_id_max):
    entry, masterlist = get_branch(str(bid), masterlist)
    if bid%20==0:
        save_masterlist(masterlist, masterlist_filename)
        print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [24]:
masterlist['3']

{'id': 3,
 'fid': 0,
 'maker_id': 0,
 'checker_id': 0,
 'type_id': 1,
 'region_id': 3,
 'province_id': 12,
 'city_id': 317,
 'status_id': 1,
 'name': 'Sta. Maria Branch',
 'address': 'Formix Bldg., Fortunato Halili Ave. Bagbaguin Sta. Maria, Bulacan',
 'email': 'BR_STAMARIA@mail.landbank.com',
 'number': '(044) 815-4117; 641-2700',
 'fax': '228-2577',
 'longitude': '120.9478396',
 'latitude': '14.815198',
 'remarks': None,
 'created_at': '2019-06-18 15:28:02',
 'updated_at': '2019-06-20 10:25:16'}

In [25]:
df = pd.read_json(masterlist_filename)

In [29]:
save_masterlist(masterlist, masterlist_filename)

In [27]:
df.tail(2)

,3000,1,3,4,5,6,7,8,9,10,...,5543,5544,5545,5546,5547,5548,5549,5550,5551,5552
created_at,2019-09-26 10:27:15,2019-06-18 15:22:00,2019-06-18 15:28:02,2019-06-18 15:30:30,2019-06-18 15:35:01,2019-06-18 15:36:09,2019-06-18 16:26:07,2019-06-18 16:28:37,2019-06-18 16:31:45,2019-06-18 16:33:35,...,2021-02-26 14:58:08,2021-02-26 15:04:10,2021-02-26 15:09:34,2021-02-26 15:17:50,2021-02-26 15:23:26,2021-02-26 15:25:52,2021-02-26 15:37:21,2021-03-05 09:05:56,2021-03-05 15:00:45,2021-03-05 15:11:42
updated_at,2019-09-30 13:35:34,2019-06-20 10:24:54,2019-06-20 10:25:16,2019-06-18 15:30:30,2019-06-20 10:25:39,2019-06-20 14:07:20,2019-06-20 10:26:50,2019-06-20 10:27:09,2019-06-20 10:27:33,2019-06-20 10:36:53,...,2021-03-05 09:45:46,2021-03-05 09:41:09,2021-03-05 09:03:35,2021-03-05 09:35:47,2021-03-05 09:05:09,2021-03-05 09:41:37,2021-03-05 09:39:18,2021-03-05 09:11:27,2021-03-05 15:00:45,2021-03-05 15:11:42